[Desktop Entry]
Name=Bookmark Manager
GenericName=Bookmark Manager App
Comment=Application to manage the .ssh/config file
Categories=Utility;Network;Development;
Exec=com.github.bartzaalberg.bookmark-manager
Icon=com.github.bartzaalberg.bookmark-manager
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=bookmark-manager
Keywords=GUI;SSH;Bookmarks;
